//앱 컴포넌트
.app{
  width: 500px;
  margin: 0 auto;
}
//todo template 컴포넌트
.todo-template{
  h1{
  text-align: center;
  padding: 10px 0;
  background-color: rgb(225, 255, 177);
  color: #333;
  }
}
//todo insert 컴포넌트 
.todo-insert{
  display: flex;
  justify-content: space-between;
  input{
    flex: 1;
    font-size: 1.5rem;
    background-color: #ddd;
    color: #333;
    outline: none;
    border: none;
    &::placeholder{
      color: #222;
    }
  }
  button{
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    outline: none;
  }
}
//todolist 컴포넌트0
.todo-list{
  li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    label{
      flex: 1;
      font-size: 1.2rem;
    }
    button{
      width: 20px;
      color: #f00;
      border: {
        radius:50%;
        width: 1px;
        style: solid;
        color: #f00;
      };
    }
  }
  label.checked{
    text-decoration: line-through;
    color: #333;
  }
}